$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%); //(graphic design text)
$darkBlue: hsl(198, 62%, 26%); //(photography text)
$darkModerateCyan: hsl(168, 34%, 41%); //(footer)
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700;800&display=swap");

$rubik: "Rubik", sans-serif;
$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

body {
  background: #fff;
  font-family: $fraunces;
  font-size: 18px;
  // min-width: 1440px;
  //   overflow: hidden;
  header {
    background: url(../images/desktop/image-header.jpg) rgb(254, 255, 200)
      center no-repeat;
    background-size: cover;
    max-width: 1440px;
    height: 800px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: auto;
    .contenedor {
      font-family: $barlow;
      p {
        font-family: $rubik;
        font-size: 28px;
        margin-top: 37px;
        font-weight: 900;
        font-style: semi-bold;
        color: #fff;
      }
      .contenedor-navegacion {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
      }
      .menu {
        font-weight: 700;
        margin-top: 30px;
        a {
          display: inline-block;
          text-decoration: none;
          font-size: 14px;
          text-indent: 5px;
          color: #fff;
        }
        .enlaces {
          margin: 0 30px;
          margin-top: 16px;
        }
        div {
          display: inline-block;
          background: #fff;
          padding: 10px 0px;
          border-radius: 25px;
          padding: 15px 20px;
          text-align: center;
          margin-left: 10px;
          .contact {
            font-size: 16px;
            color: $veryDarkDesaturatedBlue;
            font-family: $fraunces;
            vertical-align: middle;
          }
        }
      }

      h1 {
        display: inline-block;
        margin-top: 100px;
        font-size: 70px;
        font-family: $fraunces;
        text-transform: uppercase;
        color: $white;
      }

      .arrow {
        position: absolute;
        right: 50%;
        top: 44%;
      }
    }
  }
  section {
    width: 100%;
    margin-bottom: 0;
    .contenedor {
      width: 100%;
      display: grid;
      // border: 3px #000 solid;
      grid-template-columns: auto auto auto auto;
    }
    .brand,
    .audience {
      grid-column: 1 / span 4;
    }
    .containerTestimonials {
      grid-column: 1 / span 4;
    }
    .milk {
      grid-column: 1 / span 1;
    }
    .orange {
      grid-column: 2 / span 1;
    }
    .cone {
      grid-column: 3 / span 1;
    }
    .sugarcubes {
      grid-column: 4 / span 1;
    }
    .image {
      width: 100%;
      height: 100%;
    }

    .brand,
    .audience {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin: 0;
    }
    .imagen,
    .texto {
      max-width: 50%;
      overflow: hidden;
      img {
        vertical-align: top;
        text-align: center;
        max-width: 100%;
      }
    }
    .audience {
      flex-direction: row-reverse;
    }

    .texto {
      margin: auto;
      // margin-top: 250px;
      text-align: justify;
      padding: 50px 135px;
      position: relative;

      h2 {
        font-size: 48px;
        font-weight: 900;
        text-align: left;
        margin-bottom: 40px;
        color: $veryDarkDesaturatedBlue;
      }
      p {
        // color: $veryDarkGrayishBlue;
        color: $darkGrayishBlue;
        font-family: $barlow;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
      .learnMore {
        display: inline-block;
        margin-top: 40px;
        margin-left: 10px;
        text-decoration: none;
        color: $veryDarkDesaturatedBlue;
        border-bottom: 5px solid $softRed;
        opacity: .5;
        &:hover{
          opacity: 1;
        }
      }
      .subTexto{
        background: red;
        border-bottom: 10px solid $softRed;
        bottom: 0;
      }
      
    }
    .contenedor_graphic_photo {
      width: 100%;
      grid-column: 1 / span 4;
      height: 600px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;

      .graphicDesign {
        background: url(../images/desktop/image-graphic-design.jpg) no-repeat
          center;
        background-size: cover;
        width: 50%;
        position: relative;
      }
      .photography {
        background: url(../images/desktop/image-photography.jpg) no-repeat
          center;
        background-size: cover;
        width: 50%;
        position: relative;
      }
      .texto_trabajos {
        margin: auto;
        position: absolute;
        bottom: 15%;
        width: 57%;
        text-align: center;
        color: $darkDesaturatedCyan;
        left: 21.5%;
        h2 {
          font-weight: 900;
          margin-bottom: 30px;
        }
        p {
          font-size: 16px;
          font-family: $barlow;
          inline-size: 90%;
          position: relative;
          left: 4%;
          line-height: 25px;
        }
      }
    }
    .containerTestimonials {
      height: 800px;
      position: relative;
      overflow: hidden;
      margin-bottom: 70px;
      img {
        border-radius: 50%;
        width: 100px;
        margin-bottom: 10%;
      }
      h4 {
        font-size: 30px;
        position: absolute;
        left: 33%;
        top: 15%;
        margin-bottom: 10px;
        letter-spacing: 4pt;
        color: $grayishBlue;
      }
      .clientTestimonials {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-top: 20%;
        .testimonial {
          width: 30%;
          margin: 0 10px;
          padding: 20px;
        }
        p {
          color: $darkGrayishBlue;
          font-family: $barlow;
          font-size: 20px;
          line-height: 25pt;
          text-indent: 5px;
          text-align: center;
          margin-bottom: 80px;
        }
        h5 {
          font-family: $fraunces;
          color: $veryDarkDesaturatedBlue;
          font-size: 15pt;
          font-weight: 900;
        }
        .profesion {
          font-size: 11pt;
          color: $grayishBlue;
        }
      }
    }
  }

  footer {
    margin: auto;
    max-width: 1440px;
    height: 400px;
    background: hsla(168, 41%, 55%, 0.768);
    .contenedor {
      text-align: center;
      padding-top: 80px;
      height: 100%;
      position: relative;
      p {
        font-family: $rubik;
        font-size: 35px;
        font-weight: 800;
        color: #fff;
        margin-bottom: 50px;
        color: $darkDesaturatedCyan;
      }
      nav {
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin: auto;
        a {
          text-decoration: none;
          display: inline-block;
          font-size: 18px;
          color: $darkModerateCyan;
          font-family: $barlow;
        }
      }
      .redesSociales {
        display: flex;
        justify-content: space-between;
        width: 15%;
        margin: 0 auto;
        margin-top: 100px;

        a {
          font-size: 24px;
          text-decoration: none;
          color: $darkDesaturatedCyan;
        }
      }
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    padding: 20px 0;
    background: #000;
    color: #fff;
  }
  .attribution a {
    color: blue;
  }
  //   letter-spacing: 2pt;      /* para separar entre letras */
  //   word-spacing: 5pt;        /* para separacion entre palabras */
  //   line-height: 20pt;        /* para la separacion entre lineas */
  //   text-indent: 30pt;        /* para sangrias */
}
